/* galeria */
.galeria img {
    width: 280px;
    height: 280px;
    margin-left: 50px;
  }
  
  .titulo-historia {
    border: 2px;
    color: blue;
  }
  
  .galeria {
    margin-top: 50px;

    .galeria1 {
        grid-template-columns: repeat(3, 1fr);
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 50px;
        justify-items: center;
        margin-top: 50px;
      }
  }

  .card-img-bottom iframe {
    width: 200%;
    height: 200%;
  }