// .escudos img {
//     display: flex;
//     width: 30%;
//     padding: 50px;
//     position: relative;
//     border-radius: 7%;
//     align-items: center;
//     justify-content: center;
//   }
  .escudos img  {
    display: flex;
    width: 30%;
    padding: 50px;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .cancha img{
    display: flex;
    width: 30%;
    padding: 50px;
    font-size: 22px;
    text-align: center;
  }

  .new2{
    display: flex;
    font-size: 22px;
    color: black;
    margin: 30px;
  }

  .cancha-nueva {
    display: flex;
    font-size: 22px;
    color: black;
    margin: 30px;
  }