/* footer - links */
footer {
    background-color: brown;
    padding: 50px;
    text-align: center;

    .link-redes-instagram img {
        width: 50px;
      }

        .link-redes-twitter img {
    width: 50px;
  }
}

  